<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
							 http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>luckycloud-cards</display-name>
  <!-- 读取spring配置文件  start-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:spring/spring-mybatis.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- 读取spring配置文件 end -->

  <!-- Spring字符集过滤器  start-->
  <filter>
    <filter-name>SpringEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SpringEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- Spring字符集过滤器  end-->


  <!-- 日志文件管理 start -->
  <context-param>
    <param-name>logbackConfigLocation</param-name>
    <param-value>classpath:logback/logback.xml</param-value>
  </context-param>
  <listener>
    <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
  </listener>
  <!-- 日志文件管理 end -->


  <!-- springMVC核心配置 start -->


  <servlet>
    <servlet-name>luckycloud-cards</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <!-- 不拦截静态 资源 就必须放在DispatcherServlet 初始化拦截之前-->
  <servlet-mapping>
    <servlet-name>luckycloud-cards</servlet-name>
    <url-pattern>/css/**</url-pattern>
    <url-pattern>/image/**</url-pattern>
    <url-pattern>/html/**"</url-pattern>
    <url-pattern>/jar/**</url-pattern>
    <url-pattern>/js/**</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>luckycloud-cards</servlet-name>
    <url-pattern>/cards/*</url-pattern>
  </servlet-mapping>


  <!-- springMVC核心配置 end -->


  <!-- 拦截过滤session 不然session是不会写到redis去  start -->
  <filter>
    <filter-name>springSessionRepositoryFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>

  </filter>

  <filter-mapping>
    <filter-name>springSessionRepositoryFilter</filter-name>
    <url-pattern>/cards/*</url-pattern>
  </filter-mapping>
  <!-- 拦截过滤session 不然session是不会写到redis去  end -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!--&lt;!&ndash; 错误跳转页面 &ndash;&gt;-->
  <!--<error-page>-->
    <!--&lt;!&ndash;报错跳转&ndash;&gt;-->
    <!--<error-code>500</error-code>-->
    <!--<location>/WEB-INF/errorpage/500.html</location>-->
  <!--</error-page>-->





</web-app>
